body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#titulo {
    text-align: center;
    background-color: #f2ff00;
    color: rgb(0, 255, 0);
    padding: 20px 0;
}

.navbar {
    text-align: center;
    background-color: #000000;
    padding: 10px;
}

.navbar a {
    color: rgb(2, 115, 236);
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover {
    background-color: #239afa;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    background: rgb(57, 228, 4);
    padding: 20px;
    border-radius: 8px;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}